.add-frame-obj-container{
    display: flex;
    align-items: center;
    align-self: start;
    gap: 10px; /* Space between input and button */
}

.add-frame-obj{
    padding: 10px;
    font-size: 16px;
    width: 100%;
    align-items: space-between;
    border: 5px solid #6cbada;
    border-radius: 5px;
    box-sizing: content-box;
    transition: border-color 0.3s;
    position: relative;
    margin-bottom: 30px;
}
.add-frame-obj:focus{
    border-color: #13be24;
    outline: none;
    box-shadow: 0 0 5px rgba(65, 200, 103, 0.5);
}
  