.root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: bisque;
}

.input-bar-container {
  display: flow-root;
  align-items: start;
  align-self: start;
  gap: 10px;
}
.input-spaceing {
  margin-bottom: 100px;
}