/* EntryManager.module.css */

.entryManager {
    margin: 20px;
    padding: 20px;
    border: 0;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    
  }
  .text-color {
    color: #32973b;
    font-style: italic bold;

  }
  .inputField {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 3px solid #72a5dd;
    border-radius: 4px;
    font-size: 16px;
  }
  .inputField:focus {
    border-color: #13be24;
    outline: none;
    box-shadow: 0 0 5px rgba(65, 200, 103, 0.5);
  }
  
  .buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .expensesButton {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex: 1;
    margin-left: 5px;
    
  }
  
  .revenueButton {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex: 1;
    margin-left: 10px;
  }
  
  .expensesButton:hover, .revenueButton:hover {
    opacity: 0.6;
  }
  
  .entriesContainer {
    margin-top: 20px;
    text-align: left;
  }
  
  .entryItem {
    padding: 5px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    
    
  }
  .entryItem:hover {
    opacity: 0.8;
  }
  
  .expenses {
    background-color: red;
  }
  
  .revenue {
    background-color: #459245;
  }
  .deleteButton{
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
    margin-left: 70px;
  }
  .icon{
    align-self: center;
  }
  